*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 1.8rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  background: rgb(36, 36, 36);
  padding: 1rem;
  border-radius: 1.2rem;
}

.display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  min-width: 300px;
  height: 65px;
  padding: 1rem;
  font-size: 4rem;
  color: white;
  border: 2px inset rgb(100, 100, 100);
  border-radius: 1.2rem;
}

.keys-container{
  display: flex;
  gap: .5rem;
}

.feats-and-nums {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.feats {
  display: flex;
  gap: .5rem;
}

.feat {
  background: rgb(100, 100, 100);
  color: white;
}

.btn {
  display:flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 50px;
  height: 50px;
  border-radius: 1.2rem;
  border: 2px solid transparent;
  font-size: 2.2rem;
  font-family: 'Gemunu Libre', sans-serif;
}

.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: .5rem;
}

.lg {
  flex: 2 0 100px;
}

.digit {
  flex-direction: row-reverse;
}

.operations {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  flex: 1;
}

.operator, .equal {
  background: rgb(228, 167, 53);
  color: rgb(48, 48, 48);
}

.hit {
  background: rgb(175, 118, 11);
}

section {
  background: lightcyan;
  padding: 1.2rem;
  border-radius: 1.2rem;
}

span {
  color: crimson;
  display: inline-block;
  width: 100px;
}

footer {
  background: rgb(48, 48, 48);
  width: 100%;
  padding: 2rem;
  color: #e5e7eb;
  font-size: 1.5rem;
  text-align: center;
  justify-self: flex-end;
  position: fixed;
  bottom: 0;
}

footer a {
  color: #8ed2ff;
  font-size: 1.5rem;
  text-decoration: none;
}

footer a:first-of-type {
  color: rgb(228, 167, 53);
}

footer a:last-of-type {
  font-style: italic;
}

button:active {
  position: relative;
  top: 1px;
}